@model Mission08_Team0115.Models.Task

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Delete @Model.TaskName?</h2>
<br>
<!-- Form for deleting the record -->
<form method="post" asp-controller="Home" asp-action="Delete">
    <input type="hidden" name="TaskId" value="@Model.TaskId" />
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
<br><br>
<a asp-controller="Home" asp-action="Quadrant" class="btn btn-info">Cancel</a>
