@{
    ViewData["Title"] = "Time Management Matrix";
}

<div class="container mt-4">
    <h2 class="text-center">Stephen Covey's Time Management Matrix</h2>

    <div class="row border">
        <!-- Header Row -->
        <div class="col-4 border-end"></div>
        <div class="col-4 text-center fw-bold border-end p-2 bg-light">Urgent</div>
        <div class="col-4 text-center fw-bold p-2 bg-light">Not Urgent</div>
    </div>

    <!-- Quadrant 1 & 2 -->
    <div class="row border">
        <div class="col-4 text-center fw-bold border-end p-3 bg-light">Important</div>
        <div class="col-4 border-end p-3">
            <strong>Quadrant 1</strong><br>
            Crises <br>
            Pressing Problems <br>
            Projects with Deadlines
        </div>
        <div class="col-4 p-3">
            <strong>Quadrant 2</strong><br>
            Relationship Building <br>
            Planning <br>
            Recreation
        </div>
    </div>

    <!-- Quadrant 3 & 4 -->
    <div class="row border">
        <div class="col-4 text-center fw-bold border-end p-3 bg-light">Not Important</div>
        <div class="col-4 border-end p-3">
            <strong>Quadrant 3</strong><br>
            Interruptions <br>
            Some Phone Calls <br>
            Some Mail <br>
            Some Reports
        </div>
        <div class="col-4 p-3">
            <strong>Quadrant 4</strong><br>
            Busy Work <br>
            Some Phone Calls <br>
            Some Mail <br>
            Time Wasters
        </div>
    </div>
</div>